<%- include('../partials/head.ejs') %>
<div class="container">
  <h1>Update Journal</h1>
  <div><a href="/logs/<%= log.id %>"><i class="bi bi-arrow-left-short"></i>Back</a></div>
  <form action="/logs/<%= log.id %>?_method=PUT" method="post">
    <label class="display-3" for="description">Summary</label>
    <textarea
      class="form-control"
      type="text"
      name="description"
      id="description"
    ><%= log.description %></textarea>

    <p class="mt-3 display-3">Products</p>
    <ul>
      <% for (let i = 0; i < products.length ; i++) { const product =
      products[i] %>
      <li>
        <input
          type="checkbox"
          name="productIds[<%= i %>]"
          id="productIds-<%= i %>"
          value="<%= product._id %>"
          <%
          if
          (log.productIds.includes(product._id))
          {
          %>
        checked <% } %> />

        <label class="form-label" for="productIds-<%= i %>"
          ><%= product.kind %>: <%= product.name %></label
        >
      </li>
      <% } %>
    </ul>
    <input
      class="mt-2 btn btn-outline-dark"
      type="submit"
      value="Update Entry"
    />
  </form>
</div>

<%- include('../partials/footer.ejs') %>
