<%- include('../partials/head.ejs') %>

<h1>Skincare Journal</h1>
<p>Journal Entries</p>

<p><a href="/logs/new"/>New Summary</a></p>

<% for (const log of logs) {%>

<p><a href="/logs/<%= log.id %>"><%= log.date.toDateString() %></a></p>
<p><%= log.id %></p>

<% } %>

<p>Products</p>

<% for (const product of products) {%>

<p><%= product.kind %>: <%= product.name %></p>

<% } %> <%- include('../partials/footer.ejs') %>
