<%- include('../partials/head.ejs') %>

<h1>Skincare Journal</h1>
<% if (currentUser) {%>
<h2>Welcome Back <%= currentUser.username%></h2>
<% } %>
    <p>Journal Entries</p>
        <p><a href="/logs/new"/><i class="bi bi-journal-richtext"></i>  New Summary</a></p>

        <ul>
            <% for (const log of logs) {%>
                <li><a href="/logs/<%= log.id %>"><%= log.date.toDateString() %></a></li>
            <% } %>
        </ul>

    <p>Products</p>
    <ul>
        <% for (const product of products) {%>
            <li><%= product.kind %>: <%= product.name %>
                <a href="/skincare/<%= product.id %>/edit"> <i class="bi bi-pencil"></i></a>
                <form action="/skincare/<%= product.id %>?_method=DELETE" method="post">
                    <input type="submit" value="DELETE" /> 
                    <i class="bi bi-trash"></i>
                </form>
            </li>
        <% } %> 
    </ul>
    <p><a href="/skincare/new"/>New Product</a></p>

<%- include('../partials/footer.ejs') %>
