<%- include('../partials/head.ejs') %>

<h1>New Summary</h1>
<p><a href="/logs"/><i class="bi bi-arrow-left-short"></i>Back</a></p>
<form action="/logs" method="post">
  <label for="date">Date</label>
  <input type="date" name="date" id="date" />

 
  <p>Products</p>
  <ul>
    <% for (let i = 0; i < products.length ; i++) { const product = products[i] %>
        <li>
            <input
            type="checkbox"
            name="productIds[<%= i %>]"
            id="productIds-<%= i %>"
            value="<%= product._id %>" /> 
            <label for="productIds-<%= i %>">
            <%= product.kind %>: <%= product.name %></label>
        </li>
    <% } %>
  </ul>


  
    <label for="description">Summary</label>
    <br>
     <textarea rows="5" name="description" id="description"> </textarea>
  
    <input type="submit" value="Create" />
</form>

<%- include('../partials/footer.ejs') %>
