<%- include('../partials/head.ejs') %>

<h1>Skincare Journal</h1>
<p><a href="/logs"/><i class="bi bi-arrow-left-short"></i>Back</a></p>
  <p>Date: <%= log.date.toDateString() %></p>

  <p>Skincare Products</p>
  <hr>
<% for (const product of products) {%>
    <p><%= product.kind %>: <%= product.name %></p>
<% } %>
<br>

  <p>
    Summary <br />
    <hr>
    <%= log.description %>
  </p>

  <form action="/logs/<%= log.id %>?_method=DELETE" method="post">
    <button class="btn btn-light btn-sm" type="submit"> <i class="bi bi-trash"></i></button>
  </form>
<a class="btn btn-primary" href="/logs/<%= log.id %>/edit">Update</a>

<%- include('../partials/footer.ejs') %>
