<%- include('../partials/head.ejs') %>
<div class="container">
  <div class="row">
    <div class="col-3"><a href="/logs"/><i class="bi bi-arrow-left-short"></i>Back</a></div>
    <div class="col-7">
      
      <h1>Skincare Journal</h1>
    </div>
    <div class="col-2">
      <form action="/logs/<%= log.id %>?_method=DELETE" method="post">
        <button class="btn btn-light btn-sm" type="submit"> <i class="bi bi-trash"></i></button>
      </form>
    </div>
  </div>


  <div class="card">
    <div class="card-body">
      <h3>Date: <%= log.date.toDateString() %></h3>

      <div class="row">
        <h2>Skincare Products</h2>
        <hr>
      <% for (const product of products) {%>
          <p><%= product.kind %>: <%= product.name %></p>
      <% } %>
      </div>
      
      <div class="row">
        <h2>Summary</h2>
        <hr>
        <p><%= log.description %></p>
      </div>
  
      <div class="d-flex">
        
        <a class="btn btn-primary btn-md" href="/logs/<%= log.id %>/edit">Edit</a>
      </div>  
    </div>
  </div>

 
</div>

<%- include('../partials/footer.ejs') %>
