<%- include('../partials/head.ejs') %>

<div class="container">
    <p><a  href="/logs"/><i class="bi bi-arrow-left-short"></i>Back</a></p>

    <form action="/skincare/<%= product.id %>?_method=PUT" method="post">
        <label class="display-6 mb-2" for="name">Name</label>
        <input class="form-control" type="text" id="name" name="name" value="<%= product.name %>" />

        <label class="display-6 mb-2" for="kind">Type</label>
        <select class="form-select" name="kind" id="kind">
            <% for (const kind of kinds) { %>
                <option value="<%= kind.value %>" 
                    <% if (kind.value === product.kind) { %>ß
                        selected
                    <% } %>
                ><%= kind.label %></option>
            <% } %>
        </select>

        <input class="mt-2 btn btn-outline-dark" type="submit" value="Update" />
    </form>
</div>
<%- include('../partials/footer.ejs') %>
