<%- include('../partials/head.ejs') %>

<p><a  href="/logs"/><i class="bi bi-arrow-left-short"></i>Back</a></p>

<form action="/skincare/<%= product.id %>?_method=PUT" method="post">
  <label for="name">Name</label>
  <input type="text" id="name" value="<%= product.name %>" />

  <label for="kind">Type</label>
  <select name="kind" id="kind">
    <% for (const kind of kinds) { %>
        <option value="<%= kind.value %>" 
            <% if (kind.value === product.kind) { %>
                selected
            <% } %>
        ><%= kind.label %></option>
    <% } %>
  </select>

  <input class="btn btn-outline-dark" type="submit" value="Update" />
</form>
<%- include('../partials/footer.ejs') %>
