<%- include('../partials/head.ejs') %>

<h1>Skincare Journal</h1>

<p><%= log.date.toDateString() %></p>
<p><%= log.description %></p>

<% for (const product of products) {%>
<p><%= product.kind %>: <%= product.name %></p>
<% } %>

<form action="/logs/<%= log.id %>?_method=DELETE" method="post">
    <input type="submit" value="DELETE"/>
  </form>
<p><a href="/logs"/>Home</a></p>


 <%- include('../partials/footer.ejs') %>
