<%- include('../partials/head.ejs') %>

<h1>Skincare Journal</h1>

<p><%= log.date %></p>
<p><%= log.description %></p>
<% for (const product of products) {%>

<p><%= product.kind %>: <%= product.name %></p>

<% } %> <%- include('../partials/footer.ejs') %>
